<html>
<head>
  <title>Your Website Title</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url" content="<%= user_url(@conn, :show, @user)%>" />
  <meta property="og:description" content="Te has unido al paro #yoparo" />
  <meta property="og:image:secure_url" content="<%= image_url(@user) %>" />
  <meta property="og:image:type" content="image/jpeg" />
</head>
<body>
<img src="<%= image_url(@user) %>"/>
</body>
</html>
