<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="og:image"         content="http://caloxvet.com/wp-content/uploads/2014/11/bGL.jpg" />

    <title>Hello Flaggy!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
        <%= if @current_user do %>
          <h2>Welcome, <%= @current_user.name %>!</h2>
          <%= link "Logout", to: auth_path(@conn, :delete), method: :delete %>
        <% else %>
          <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index, "facebook" %>">
           <i class="fa fa-facebook"></i>
           Sign in with Facebook
         </a>
        <% end %>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
